<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1 class="text-center">
    Directives & Pipes
  </h1>
  <hr>
  <p appHighlight>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit neque assumenda, quia exercitationem, animi officiis natus explicabo illo autem nihil officia illum provident nemo? Ducimus harum asperiores sapiente aspernatur ad?</p>

  <p appHighlight="red">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit neque assumenda, quia exercitationem, animi officiis natus explicabo illo autem nihil officia illum provident nemo? Ducimus harum asperiores sapiente aspernatur ad?</p>

  <p [appHighlight]="'blue'">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit neque assumenda, quia exercitationem, animi officiis natus explicabo illo autem nihil officia illum provident nemo? Ducimus harum asperiores sapiente aspernatur ad?</p>


</div>
